<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${post.title}">New post</title>
</head>

<body>

<header th:replace="layout :: site-header"></header>

<div class="container">
    <div class="row">
        <div class="col-8 ">
            <form autocomplete="off" action="#" th:action="@{/admin/new}"
                  th:object="${post}" method="post" data-toggle="validator"
                  role="form">
                <h2 class="h2_pad">Новый пост</h2>

                <div class="form-group btn_form">
                    <label for="inputTitle" class="control-label" id="title">Заголовок</label>
                    <input type="text" th:field="*{title}"
                           class="form-control" id="inputTitle" placeholder="Заголовок" required>
                </div>

                <div class="form-group btn_form">
                    <label for="inputBody" class="control-label" id="text">Текст</label>
                    <textarea type="text" th:field="*{body}" class="form-control" id="inputBody" placeholder="Текст"></textarea>
                </div>

                <div class="btn_form">
                    <button type="submit" class="btn btn-block btn-info">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
