<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Spring MVC Blog</title>
</head>
<body>

<header>
    <div class="blog-masthead">
        <div class="container">
            <nav class="nav">
                <a class="nav-link" th:href="@{'/'}">Главная</a>
                <a class="nav-link active" th:href="@{'/admin/panel'}">Архив</a>
            </nav>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div th:if="${successMessage} != null">
            <div class="panel-heading">
					<span class="alert alert-success" th:utext="${successMessage}"
                          role="alert"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <form th:action="@{/admin/new/}" method="get">
            <button class="btn btn-md btn-info btn-block" type="Submit">Новый пост</button>
        </form>
    </div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th width="10">ID</th>
                <th width="200" class="cl_bclock">Заголовок</th>
                <th width="30" class="cl_bclock">Дата</th>
                <th width="40">Изменить</th>
                <th width="40">Удалить</th>
            </tr>
            <tr th:each="post : ${allPosts}">
                <td><a th:text="${post.id}" th:href="@{'/posts/view/' + ${post.id}}"></a></td>
                <td th:text="${post.title}" class="cl_bclock"></td>
                <td th:text="${#dates.format(new java.util.Date(post.date),'HH:mm, dd.MM.yyyy')}"
                    class="cl_bclock"></td>
                <td th:class="alert-warning"><a th:class="alert-warning" th:href="@{'/admin/edit/' + ${post.id}}">Изменить</a>
                </td>
                <td th:class="alert-danger"><a th:class="alert-danger" th:href="@{'/admin/delete/' + ${post.id}}">Удалить</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<footer th:replace="layout :: site-footer"></footer>

</body>
</html>