<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${post.title}">View Post</title>
</head>

<body>

<header th:replace="layout :: site-header"></header>

<main role="main" class="container">
    <div class="row">
        <div class="col-xl-9 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title"><a th:text="${post.title}"></a></h2>
                <p class="blog-post-meta"
                   th:text="${#dates.format(new java.util.Date(post.date),'HH:mm, dd.MM.yyyy')}">18:08, 21 ноября
                    2017</p>
                <span class="glyphicon glyphicon-pencil"></span>

                <p th:text="${post.body}" contenteditable="true"></p>
                <hr>
            </div>
        </div><!-- /.blog-main -->

        <aside class="col-xl-3 ml-sm-auto blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Кратко о блоге</h4>
                <p>Этот блог был создан прежде всего для самого себя. Здесь можно найти какую-то субъективно интересную
                    информацию, которая может быть полезна какому-то кругу людей. Ну, а также мои мысли по этому
                    поводу.</p>
            </div>
            <div class="sidebar-module">
                <h4>Архив</h4>
                <ol class="list-unstyled" th:each="latest10 : ${latest10posts}">
                    <li><a th:href="@{'/posts/view/' + ${latest10.id}}" th:text="${latest10.title}">Ноябрь 2017</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->
    </div><!-- /.row -->
    <footer th:replace="layout :: site-footer"></footer>
</main><!-- /.container -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>