<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head"></head>

<body>
<div class="container">
    <header th:replace="layout :: site-header"></header>
    <main class="container">
        <div class="row mx-0">
            <div class="shadow p-2 m-2 bg-white rounded col-sm">
                <div class="row">
                    <div class="col-sm m-2">
                        <div class="mx-4">
                            <div class="credit-title row">
                                <div class="col-sm">
                                    <p class="content-title">Кредиты</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="shadow p-2 m-2 bg-white rounded col-sm">
                <div class="row">
                    <div class="col-sm m-2">
                        <div class="my-3 mx-4">
                            <div class="border-green-shadow row">
                                <div class="col-sm py-2">
                                    <p class="payment-name">Личный выбор</p>
                                    <p class="payment-description">Дата открытия: 21.02.2018</p>
                                </div>
                                <div class="col-sm py-2">
                                    <p class="payment-description">Остаток</p>
                                    <p class="credit-value">9000 BYN</p>
                                </div>
                                <div class="col-sm-2 mr-4 my-auto">
                                    <button class="btn btn-outline-success">Погасить</button>
                                </div>
                            </div>
                            <div class="border-green-shadow row">
                                <div class="col-sm py-2">
                                    <p class="payment-name">Личный выбор</p>
                                    <p class="payment-description">Дата открытия: 14.12.2018</p>
                                </div>
                                <div class="col-sm py-2">
                                    <p class="payment-description">Остаток</p>
                                    <p class="credit-value">135 BYN</p>
                                </div>
                                <div class="col-sm-2 mr-4 my-auto">
                                    <button class="btn btn-outline-success">Погасить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container">
        <footer class="py-1 mx-2 mt-2 mb-3 rounded footerBlock">
            <div class="social-contacts col-sm-8">

                <div class="row h-25 mb-2"><p>Follow us:</p></div>
                <div class="row socials">
                    <div class="social-contacts-item col-sm py-2">
                        <img src="img/facebook.png">
                    </div>
                    <div class="social-contacts-item col-sm py-2">
                        <img src="img/twitter.png">
                    </div>
                    <div class="social-contacts-item col-sm py-2">
                        <img src="img/instagram.png">
                    </div>
                    <div class="social-contacts-item col-sm py-2">
                        <img src="img/sharethis.png">
                    </div>
                </div>
            </div>


            <div class="footer-information col-sm-4">
                +7 ### ###-##-##<br>+7 ### ###-##-##<br><br>
                Our Address<br>
                Our website<br>

            </div>
        </footer>
    </div>

</div>
<div th:replace="layout :: site-script"></div>
</body>
</html>