<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head"></head>

<body>
<div class="container">
    <header th:replace="layout :: site-header"></header>
    <main class="container">
        <div class="row mx-0">
            <div class="shadow p-2 m-2 bg-white rounded col-sm">
                <div class="row">
                    <div class="col-sm m-2">
                        <div class="mx-4">
                            <div class="credit-title row">
                                <div class="col-sm">
                                    <p class="content-title">Кредиты</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="shadow p-2 m-2 bg-white rounded col-sm">
                <div class="row">
                    <div class="col-sm m-2">
                        <div class="my-3 mx-4">
                            <div class="border-green-shadow row" th:each="credit : ${credits}">
                                <div class="col-sm py-2">
                                    <p class="payment-name" th:utext="*{credit.title}"></p>
                                    <p class="payment-description" th:utext="*{'Дата открытия: ' + credit.date}">Дата открытия: 21.02.2018</p>
                                </div>
                                <div class="col-sm py-2">
                                    <p class="payment-description">Остаток</p>
                                    <p class="credit-value" th:utext="*{credit.value + ' BYN'}">9000 BYN</p>
                                </div>
                                <div class="col-sm-2 mr-4 my-auto">
                                    <button class="btn btn-outline-success">Погасить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container sticky-bottom">
        <footer th:replace="layout :: site-footer"></footer>
    </div>

</div>
<div th:replace="layout :: site-script"></div>
</body>
</html>