<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head"></head>
<body>
<div class="container">
    <header th:replace="layout :: site-header"></header>
    <main class="container">
        <div class="row mx-0">
            <div class="col-sm shadow p-2 m-2 bg-white rounded">
                <div class="row">
                    <div class="col-sm my-4 mx-4 border-green-shadow credit-card">
                        <div class="mb-2 mt-3 mx-1">
                            <a>Зарплатная карта</a>
                            <p>**** **** **** 1234</p>
                            <p>Master Card</p>
                        </div>
                    </div>
                    <div class="col-sm m-3">
                        <div class="my-2 mx-1">
                            <p>Баланс</p>
                            <p class="h3 balance">8 123.00</p>
                            <button class="btn btn-outline-success btn-block">Перевод</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm shadow p-2 m-2 bg-white rounded">
                <div class="row">
                    <div class="col-sm my-4 mx-4 border-green-shadow">
                        <div class="mb-2 mt-3 mx-1">
                            <a>Зарплатная карта</a>
                            <p>**** **** **** 1234</p>
                            <p>Master Card</p>
                        </div>
                    </div>
                    <div class="col-sm m-3">
                        <div class="my-2 mx-1">
                            <p>Баланс</p>
                            <p class="h3 balance">8 123.00</p>
                            <button class="btn btn-outline-success btn-block">Перевод</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-0">
            <div class="shadow p-2 m-2 bg-white rounded col-sm">
                <div class="row">
                    <div class="col-sm m-2">
                        <div class="my-3 mx-4">
                            <div class="row">
                                <p>Избранные платежи</p>
                            </div>
                            <div class="border-green-shadow row">
                                <div class="col-sm py-2">
                                    <p class="payment-name">Домашний</p>
                                    <p class="payment-description">Телефон: 201-73-87</p>
                                </div>
                                <div class="col-sm-2 mr-4 my-auto">
                                    <button class="btn btn-outline-success">Оплатить</button>
                                </div>
                            </div>
                            <div class="border-green-shadow row">
                                <div class="col-sm py-2">
                                    <p class="payment-name">Домашний</p>
                                    <p class="payment-description">Телефон: 201-73-87</p>
                                </div>
                                <div class="col-sm-2 mr-4 my-auto">
                                    <button class="btn btn-outline-success">Оплатить</button>
                                </div>
                            </div>
                            <div class="border-green-shadow row">
                                <div class="col-sm py-2">
                                    <p class="payment-name">Домашний</p>
                                    <p class="payment-description">Телефон: 201-73-87</p>
                                </div>
                                <div class="col-sm-2 mr-4 my-auto">
                                    <button class="btn btn-outline-success">Оплатить</button>
                                </div>
                            </div>
                            <div class="border-green-shadow row">
                                <div class="col-sm py-2">
                                    <p class="payment-name">Домашний</p>
                                    <p class="payment-description">Телефон: 201-73-87</p>
                                </div>
                                <div class="col-sm-2 mr-4 my-auto">
                                    <button class="btn btn-outline-success">Оплатить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 px-0">
                <div class="row shadow p-2 m-2 bg-white rounded mh-25 exchange">
                    <div class="col-sm m-2">
                        <div class="my-3 mx-4">
                            <div class="row mx-auto" id="exchange">
                                <div class="row">
                                    <p>Курсы валют</p>
                                </div>
                                <table class="table row">
                                    <tr>
                                        <td>USD</td>
                                        <td>1</td>
                                        <td>2.122</td>
                                    </tr>
                                    <tr>
                                        <td>EUR</td>
                                        <td>1</td>
                                        <td>2.404</td>
                                    </tr>
                                    <tr>
                                        <td>RUB</td>
                                        <td>100</td>
                                        <td>3.193</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container">
        <footer class="py-1 mx-2 mt-2 mb-3 rounded footerBlock">
            <div class="social-contacts col-sm-8">

                <div class="row h-25 mb-2"><p>Follow us:</p></div>
                <div class="row socials">
                    <div class="social-contacts-item col-sm py-2">
                        <img src="img/facebook.png">
                    </div>
                    <div class="social-contacts-item col-sm py-2">
                        <img src="img/twitter.png">
                    </div>
                    <div class="social-contacts-item col-sm py-2">
                        <img src="img/instagram.png">
                    </div>
                    <div class="social-contacts-item col-sm py-2">
                        <img src="img/sharethis.png">
                    </div>
                </div>
            </div>


            <div class="footer-information col-sm-4">
                +7 ### ###-##-##<br>+7 ### ###-##-##<br><br>
                Our Address<br>
                Our website<br>

            </div>
        </footer>
    </div>

</div>
<div th:replace="layout :: site-script"></div>
</body>
</html>