<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="БАНК">
    <meta name="author" content="">

    <title>БАНК</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{'http://netdna.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'}">
    <link href="../public/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
            th:src="@{'https://code.jquery.com/jquery-3.3.1.min.js'}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"
            th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"
            th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}"></script>

    <script src="../public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
</head>
<body>
<header th:fragment="site-header" th:remove="tag">
    <header>
        <div class="blog-masthead">
            <div class="container">
                <nav class="nav">
                    <a class="nav-link active" th:href="@{'/'}">Главная</a>
                    <a class="nav-link" th:href="@{'/admin/panel'}">Архив</a>
                </nav>
            </div>
        </div>
    </header>
</header>
<h1>Welcome</h1>
<p>Welcome to the Spring MVC Blog.</p>
<footer th:fragment="site-footer">
    <p>TO-DO: добавить иконки соц-сетей</p>
    <p>
        <a href="#">Наверх</a>
    </p>
</footer>
</body>
</html>