<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head"></head>

<body>
<div class="container">
    <header th:replace="layout :: site-header"></header>
    <main class="container">
        <div class="row mx-0">
            <div class="shadow p-2 m-2 bg-white rounded col-sm">
                <div class="row">
                    <div class="col-sm m-2">
                        <div class="mx-4">
                            <div class="credit-title row">
                                <div class="col-sm">
                                    <p class="content-title">Настройки</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="shadow p-2 m-2 bg-white rounded col-sm">
                <div class="row">
                    <div class="col-sm m-2">
                        <div class="my-3 mx-4">
                            <p class="settings-title"><a href="#">Рассылка уведомлений</a></p>
                            <p class="settings-title"><a href="#">Регистрационные данные</a></p>
                            <p class="settings-title"><a href="#">Изменение пароля</a></p>
                            <p class="settings-title"><a href="#">Изменение номера мобильного телефона</a></p>
                            <p class="settings-title"><a href="#">Изменение адреса эл. почты</a></p>
                            <p class="settings-title"><a href="#">Изменение личных предпочтений</a></p>
                            <p class="settings-title"><a href="#">Удаление учетной записи</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container">
        <footer th:replace="layout :: site-footer"></footer>
    </div>

</div>
<div th:replace="layout :: site-script"></div>
</body>
</html>